@*@using BLL.Models
@model HouseManager.ViewModels.MeetingViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PropertyType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PropertyType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
