@model IEnumerable<HouseManager.ViewModels.MeetingViewModel>

@{
    ViewData["Title"] = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#createTable").click(function() {
            var val = $(this).attr('val');
            $.getJSON("@Url.Action("GetMeetingQuests", "Meetings")",
                { id: val },
                function(result) {
                    CreateReport(result);
                });
        });
        function CreateReport(result) {
            var raws = "";
            jQuery.each(result,
                function(i, data) {
                    raws = raws + "<tr><td>" + data.name + "</td><td><div id='checker'></div> </td></tr>";
                });

            
            var html_ticket = '<!doctype html>' +
                '<html dir="ltr" lang="en" class="no-js">' +
                '<head> ' +
            '     <style> ' +
            ' #checker { ' +
            '     border: 1px solid black; ' +
            '     width: 10px;             ' +
            '     height: 10px;            ' +
            '     display: inline-block;   ' +
            '     margin: 10px;            ' +
            ' }                            ' +
            ' table, th, td {              ' +
            '     border: 1px solid black; ' +
            ' }                            ' +
            ' td{ padding:10px}'    +
            ' caption {font-size:20px; padding :10px} ' +
            ' </style>                     ' +
                '   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></head><body> ' +
                ' <table><caption>Meeting questions</caption><tbody>' +
                raws +
                ' </tbody> </table>' +
                '</body> ' +
                '</html> ';
            var newWindow = window.open();
            newWindow.document.write(html_ticket);
            newWindow.document.close();
        }
    });
    
</script>

<h2>Meetings</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <button id="createTable" val="@item.Id">Create Table</button>
                </td>
            </tr>
        }
    </tbody>
</table>
