@model IEnumerable<HouseManager.ViewModels.QuestionnaireViewModel>

@{
    ViewData["Title"] = "Анкети";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Properties</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Voted, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                
                @if(item.IsActive) {
                <a asp-action="ToggleVote" asp-route-id="@item.Id">ToggleVote</a>
                }
                else
                {
                    <span>Inactive</span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
