@model IEnumerable<HouseManager.ViewModels.PropertyViewModel>

@{
    ViewData["Title"] = "Имоти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Properties</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
